.center {
    margin: auto;
    width: 90%;
    text-align: center;
}

.left {
	margin: auto;
	width: 90%;
	text-align: left;
	}
	
img {
    max-width: 70%;
    height: auto;
}

.button {
	text-align: center;
	border: 1px solid #282727;
	display: inline-block;
	font-weight: bold;
	font-family: "Verdana";
	text-transform: uppercase;
	font-size: 3vw;
	line-height: 4vw;
	padding: 6px 20px;
	cursor: pointer;
	color: #FFFF00;
	text-decoration: none;
	border-radius: 12px;
	box-shadow: 1px 3px 5px #999;
	background: -webkit-linear-gradient(top, #127BBB, #127BFF);
	background: 		 -linear-gradient(top, #127BFF, #127BBB);
}
.button:active .button:focus {
	color: #000;
	background: -webkit-linear-gradient(top, #DBC73C, #FFF089);
	background: 		 -linear-gradient(top, #DBC73C, #FFF089);
}

.msg1 {
	font-family: "Arial";
	text-align: center;
	font-size: 5vw;
	font-weight: bold;
	line-height: 5vw;
	color: blue;
}

.msg2 {
	font-family: "Arial";
	text-align: center;
	font-size: 4vw;
	font-weight: bold;
	line-height: 4vw;
	color: green;
}

